.card .max-h-90px ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 90px;
  margin-right: 90px;
}

.card .max-h-90px ul li {
  margin-right: 1rem;
}

.card .max-h-90px ul li:nth-child(n+11) {
  display: none;
}